footer-v3
  .footer-v3
    .footer-v3-menu
      a.footer-v3-link.w--current(href='/') HOME
      a.footer-v3-link(href='/about') ABOUT
      a.footer-v3-link(href='/cppibxacorntalent') NIGHT WITH CPPIB
    .footer-v3-bottom
      .social-icons-small
        a.social-link-small.w-inline-block(href='https://instagram.com/acorntalent_io', target='_blank')
          img.social-icon-small(src='images/instagram-icon-color.svg', alt='')
        a.social-link-small.w-inline-block(href='https://facebook.com/AcornTalent.io', target='_blank')
          img.social-icon-small(src='images/facebook-icon-color.svg', alt='')
        a.social-link-small.w-inline-block(href='https://twitter.com/acorntalent_io', target='_blank')
          img.social-icon-small(src='images/twitter-icon-color.svg', alt='')   
